<h1 class="center">Welcome {{ username }}!</h1>
<form class="uploadForm" action="/admin/upload" method="post">
    <h4>Upload an image</h4>
    <div class="row">
        <input id="file-input" type="file" name="filename">
    </div>

    <div class="row">
        <label for="artTitle">Title</label>
        <input id="artTitle" type="text" name="title" placeholder="Enter a title">
    </div>

    <div class="row">

        <label for="artCat">Category</label>
        <select id="artCat" class="" name="category">
            {{#each categories}}
                <option value="{{ id }}">{{ category_name }}</option>
            {{/each}}
        </select>
    </div>

    <div class="row">
        <input id="upload" type="submit" value="Upload">
    </div>
    <div id="progressBar">
        <div></div>
    </div>
    <div class="row">
        <span id="progressPercentage"></span>
    </div>
</form>

<section class="uploadedImages">
    {{#if arts}}
        {{#each arts}}
            <div class="imageContainer">
                <div class="imageHeader">
                    <span class="edit fa fa-pencil" data-image-id="{{ id }}"></span>
                    <h6 class="title">{{ title }}</h6>
                    <span class="delete fa fa-remove" data-image-id="{{ id }}"></span>
                </div>
                <img class="thumbnail" src="{{url}}" alt="">
            </div>
        {{/each}}
    {{else}}
        You have not uploaded any images.
    {{/if}}
</section>

<script src="javascripts/imageUpload.js"></script>

<script src="javascripts/editImage.js">
</script>
