<h1 class="center">Welcome {{ username }}!</h1>
<form class="uploadForm" action="/admin/upload" method="post">

    <div class="row center">
        <h5>Upload an image</h5>
    </div>
    <hr>
    <div class="row">
        <label for="file-input">File</label>
        <input id="file-input" type="file" name="filename">
    </div>

    <div class="row">
        <label for="artTitle">Title</label>
        <input id="artTitle" type="text" name="title" placeholder="Enter a title">
    </div>

    <div class="row">
        <label for="artCat">Category</label>
        <select id="artCat" class="" name="category">
            {{#each categories}}
                <option value="{{ id }}">{{ category_name }}</option>
            {{/each}}
        </select>
    </div>

    <div class="row">
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter a short description"></textarea>
    </div>

    <div class="row center">
        <input id="upload" type="submit" value="Upload">
    </div>
    <div class="row center">
        <div id="progressBar">
            <div></div>
        </div>
    </div>

    <div class="row center">
        <span id="progressPercentage"></span>
    </div>

</form>

<section class="uploadedImages">
    {{#if arts}}
        {{#each arts}}
            <div class="imageContainer">
                <div class="imageHeader">
                    <span class="edit fa fa-pencil"></span>
                    <span class="save fa fa-save"></span>
                    <h6 class="title">{{ title }}</h6>
                    <span class="delete fa fa-remove"></span>
                </div>
                <div class="row">
                    <img class="thumbnail" src="{{url}}" alt="">
                    <div class="showImageInfo">
                        {{> imageInfo categories=../categories}}
                    </div>
                </div>
                <input class="imageId" type="hidden" value="{{ this.id }}">
                <input class="imageTitle" type="hidden" value="{{ this.title }}">
                <input class="imageCategory" type="hidden" value="{{ this.category_id }}">
                <input class="imageDesc" type="hidden" value="{{ this.description }}">
            </div>
        {{/each}}
    {{else}}
        You have not uploaded any images.
    {{/if}}
</section>

<script src="javascripts/imageUpload.js"></script>

<script src="javascripts/editImage.js">
</script>
